<nav
  class="fixed top-0 z-50 backdrop-blur-md border-b w-full md:py-5 py-3 border-black/30 dark:border-white/30 transition-colors duration-500"
>
  <div
    class="w-full flex items-center justify-around max-md:justify-between max-md:px-16 max-sm:px-8"
  >
    <div
      class="font-semibold max-md:text-center"
      [ngClass]="{
        'border-x  border-[#EF6515] rounded-lg': currentRoute === '/'
      }"
      (click)="handleMobileLinks()"
    >
      <app-button
        icon="alternate_email"
        label="VirtualR"
        className="btn-sm bg-transparent hover:bg-none border-none"
        (btnClick)="redirectTo('/')"
      />
    </div>
    <div class="md:hidden block">
      <app-button
        icon="menu"
        className="hover:scale-110"
        (btnClick)="handleSetMenu()"
      />
    </div>
    <ul class="flex items-center justify-center gap-x-8 max-md:hidden">
      <app-routerlink
        *ngFor="let link of links"
        [label]="link.label"
        [routerLink]="link.link"
        [ngClass]="{
          'active:scale-110 active:text-[#EF6515] md:hover:border-b ease-out duration-100 font-medium rounded-xl': true,
          'border-b border-[#EF6515]': currentRoute == link.link
        }"
      />
      <div class="dropdown dropdown-hover">
        <div
          tabindex="0"
          role="button"
          class="m-1 text-xs lg:text-sm font-medium rounded-xl flex items-center justify-center gap-x-2"
        >
          <p>Options</p>
          <mat-icon>more_vert</mat-icon>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-slate-900 dark:bg-neutral-700 rounded-box z-[1] w-40 p-2 shadow text-xs lg:text-sm"
        >
          <app-toogle-dark-mode className="text-sm" />

          <app-routerlink
            routerLink="/cats"
            label="Cat API"
            className="text-sm label"
          />
        </ul>
      </div>
    </ul>
    <div class="flex items-center justify-around max-md:hidden">
      <app-button
        *ngFor="let button of buttons"
        [label]="button.label"
        [className]="button.class"
        (btnClick)="redirectTo(button.link)"
      />
    </div>
    <!-- Inicio del diseño Mobile -->
    <div
      class="overflow-hidden transition-all duration-200 ease-linear bg-slate-700/80 flex flex-col absolute top-[4.6rem] left-0 w-full"
      [ngClass]="{
        'max-h-0 ': !setMenu,
        'max-h-[500px]': setMenu
      }"
    >
      <ul
        class="flex flex-col items-center justify-center gap-y-4 text-base p-4"
      >
        <app-routerlink
          *ngFor="let link of links"
          [label]="link.label"
          [routerLink]="link.link"
          (aClick)="handleMobileLinks()"
          [ngClass]="{
            'active:scale-110 active:text-[#EF6515] md:hover:border-b ease-out duration-100': true,
            'border-b border-[#EF6515]': currentRoute == link.link
          }"
        />
        <div class="dropdown dropdown-hover dropdown-right">
          <div
            tabindex="0"
            role="button"
            class="m-1 text-xs lg:text-sm font-medium rounded-xl flex items-center justify-center gap-x-2"
          >
            <p>Options</p>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-slate-900 dark:bg-neutral-700 rounded-box z-[1] w-40 p-2 shadow text-xs lg:text-sm"
          >
            <li class="text-xs"><app-toogle-dark-mode /></li>
            <li class="text-xs">
              <app-routerlink
                label="Cat API"
                routerLink="/cats"
                className="text-xs"
              />
            </li>
          </ul>
        </div>
      </ul>
      <div class="w-full flex items-center justify-center text-base p-4">
        <app-button
          *ngFor="let button of buttons"
          [label]="button.label"
          [className]="button.class"
          (btnClick)="handleMobileButtons(button.link)"
        />
      </div>
    </div>
  </div>
</nav>
