<div class="flex flex-col gap-y-20">
  <div
    class="flex flex-col gap-y-12 items-center text-center justify-center lg:w-[850px] mx-auto"
  >
    <h5>Testimonials</h5>
    <h1>What people saying</h1>
  </div>

  <div class="flex flex-wrap md:items-center items-start justify-center gap-12">
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        I am extremely satisfied with the services provided. The team was
        responsive, professional, and delivered results beyond my expectations.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user1.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">John Doe</h5>
          <p class="opacity-50">Stellar Solutions</p>
        </div>
      </div>
    </div>
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        Working with the team at XYZ Company was a game-changer for our project.
        Their attention to detail and innovative solutions helped us achieve our
        goals faster than we thought possible. We are grateful for their
        expertise and professionalism!.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user2.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">Ranee Brown</h5>
          <p class="opacity-50">Fusion Dinamics</p>
        </div>
      </div>
    </div>
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        I couldn't be happier with the outcome of our project. The team's
        creativity and problem-solving skills were instrumental in bringing our
        vision to life.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user3.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">Jane Smith</h5>
          <p class="opacity-50">Blue Horizon Technologies</p>
        </div>
      </div>
    </div>
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        I am amazed by the level of professionalism and dedication shown by the
        team. They were able to exceed our expectations and deliver outstanding
        results.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user4.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">Michael Smith</h5>
          <p class="opacity-50">Visionary Creations</p>
        </div>
      </div>
    </div>
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        Working with this company was a pleasure. Their attention to detail and
        commitment to excellence are commendable. I would highly recommend them
        to anyone looking for top-notch service.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user5.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">David Johnson</h5>
          <p class="opacity-50">Quantum Innovations</p>
        </div>
      </div>
    </div>
    <div
      class="md:w-1/4 w-2/5 space-y-4 bg-black/30 border-white/20 rounded-xl border p-8"
    >
      <p class="font-extralight opacity-50">
        The team went above and beyond to ensure our project was a success.
        Their expertise and dedication are unmatched. I look forward to working
        with them again in the future.
      </p>
      <div class="flex gap-4 max-md:flex-col">
        <img
          class="md:w-12 md:h-12 w-8 h-8 rounded-full"
          src="assets/testimonials/user6.jpg"
          alt=""
        />
        <div>
          <h5 class="opacity-70 text-base">Emily Davis</h5>
          <p class="opacity-50">Synergy Systems</p>
        </div>
      </div>
    </div>
  </div>
</div>
